/* フォント*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root{
    --season-color: none;
    --dark:rgb(79, 79, 79);
    --rgb_dark: 79, 79, 79;
    --white:rgb(245, 245, 245);
    --rgb_white:245, 245, 245;
    --menu-item-count: 3;
    --filter-item-count: 4;
}

/* ▼フォント指定 */
#menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#footer{
    font-weight: 600;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8em;
}

p{
    font-size: 1.1em;
    font-weight: 400;
}


h2{
    font-weight: 600;
    font-size: 1.5em;
}

h3{
    font-weight: 600;
    font-size: 1.1em
}

#filter{
    font-weight: 600;
}
/* ▲フォント指定 */

/* 画像 */
#logo{
    height: 150px;
}

.link a{
    margin: 0px 20px 0px 0px;
}

.link a svg, a img{
    height: 24px;
    fill: var(--dark);
    opacity: 1;
    transition: opacity .2s;
}

.link a svg:hover, a img:hover{
    opacity: 0.6;
}

/* 画像 */

body{
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    background-color: var(--season-color);
    color: var(--dark);
    margin: 0px;
    padding: 0px;
}

/* 全体的な設定 */
section{
    max-width: 900px;
    margin: auto;
    padding-top: 40px;
    margin-top: -40px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    margin: 5px 5px 5px 0px;
    padding-bottom: 20px;
    clear: both; 
}
/* 全体的な設定 */

#header{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
    width: 100%;
}

#footer{
    text-align: center;
    width: 100%;
    height: 100px;
    color: var(--white);
}

footer{
    padding-top: 40px;
}

#contents{
    background-color: var(--white);
}

#text{
    padding: 20px;
}

#menu{
    height: 50px;
    width: 100%;
    /*background-color: var(--season-color);
    /* 固定 */
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0px;
    position: fixed;
    text-align: center;
    z-index: 1;
}

#menu ul{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 50px;
}

#menu ul a{
    float: left;
    height: 50px;
    width: calc(100%/var(--menu-item-count));
    transition: opacity .2s;
}

#menu ul a li{
    display: inline-block;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    color: var(--dark);
    transition: color .2s;
}

#menu ul a li:hover{
    color: var(--season-color);
    background-color: rgba(var(--season-color), 0.6);
}

#profile{
    margin-bottom: 100px;
}

#profile h1::after{
    /* 下線 */
    content: '';
    background-color: var(--season-color);
    width: 300px;
    height: 3px;
    display: block;
    margin: 7px 0;
}

.username{
    position: relative;
}

.username div{
    position: absolute;
    top: 0;
    right: 0px;
}

.username h2{
    margin: 10px 0px;
    padding-right: 100px;
}

.username h2::before{
    content: '';
    width: 8%;
    height: 2px;
    bottom: -0.2em;
    display: inline-block;
    position: absolute;
    background-color: var(--dark);
}

.link{
    padding-top: 2px;
}

#works h1::after{
    /* 下線 */
    content: '';
    background-color: var(--season-color);
    width: 300px;
    height: 3px;
    display: block;
    margin: 7px 0;
}

#Projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
}

@media screen and (max-width: 850px){
    #Projects {
        grid-template-columns: 1fr 1fr;
    }
}

#Projects h3{
    text-align: center;
    color: var(--dark);
    margin: 10px 0px 20px;
    padding: 10px;
}

#Projects h3::after{
    content: '';
    width: 30%;
    height: 2px;
    display: block;
    background-color: var(--season-color);
    position: relative;
    bottom: -5px;
    left: 35%;
}

#Projects a img{
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: drop-shadow(0px 5px 10px rgba(var(--rgb_dark), 0.1));
}

#filter{
    display: flex;
    justify-content: space-between;
}

#filter div{
    width: calc(100%/var(--filter-item-count));
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    opacity: 1;
    transition: background-color .2s, opacity .2s;
}

#filter div:hover{
    opacity: 0.8;
}
